.footer-background {
    background-color: #391C54;
    width: 100%;
    height: auto;
    color: white;
    /* margin: 0; */
}

.footer-row {
    background-color: #391C54;
    width: 80%;
    color: white;
    margin: 0 auto;
    padding-top: 50px;
}

.footer-headers {
    font-weight: bold;
    padding-left: 15px;
}

.footer-colm {
    text-align: left;
    margin-bottom: 20px;
}

.footer-link {
    color: #d7d1d1;
}

    .footer-link:hover {
        color: #6ff9ff;
    }

.footer-link-div{
    color: #d7d1d1;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    text-decoration: none;
}

.footer-email{
    color: #d7d1d1;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
}

.footer-link-div:hover{
    color: #6ff9ff;
    text-decoration: none;
}

.footer-link-div a{
    color: #d7d1d1;
    cursor: pointer;
    text-decoration: none;
}

    .footer-link-div:hover a{
        color: #6ff9ff;
        text-decoration: none;
    }    

.footer-copyright {
    margin: auto;
    padding-bottom: 30px;
}