.header-how {
    font-size: 25px;
    font-weight: bold;
}

.div{
    margin: 80px auto 20px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 70vw;
    font-size: 20px;
}