.card-content{
    cursor: pointer;
}

.MuiSvgIcon-colorPrimary{
    color: red;
}

.messageAria {
    position: fixed;
    top: 64px;
    width: 100%;
    height: 40px;
    left: 0;
    opacity: 0;
    display: none;
    transition: .3s;
    z-index: 1000;
}